@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');


$primary-green :  #014E56;
$primary-pink : #F67E7E;
$secondary-dark-green : #012F34;
$secondary-green : #004047;
$secondary-blue : #79C8C7;
$police-blue : #2C6269 ;
$footer-green : #002529;
$font-name : Livvic;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-green;
    color: white;
    font-family: $font-name;

    a {
        text-decoration: none;
        color: white;
        @include font(18px, 600)
    }

    h2 {
       @include font(1.9em, bold);
       margin:0 0 20px 0; 
      
    }

    h3 {
        @include font(18px, bold);
        color: $primary-pink;
    }

    p, ::placeholder{
        @include font(15px, 600)
    }

    li {
        list-style: none;

    }

    button {
        background-color: rgba(255, 0, 0, 0);
        border-radius: 50px;
        padding: 5px 10px;
        @include font(18px, 600)
    }

    

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        
        img {
            @include size(20, 17);
        }

        nav {
            display: none;
            background-color: #2C6269;
            @include size(65%, 100%);
            padding: 0;
           
    
           
           ul {
            margin: 70px 0 20px;
            padding: 0 50px ;
    
            li {
                text-align: left;
                @include font(18px, 600)

            }
           }

           button {
            border: 2px solid white;

            a {
                color: white;
            }
           
        }


        button:hover {
            background-color: white;
            border: none;
            

            a {
                color: $secondary-dark-green;
            }
        }

        }
    
        .active {
            background-image: url(assets/bg-pattern-about-1-mobile-nav-1.svg);
            background-repeat: no-repeat;
            background-position: bottom right -100px;
            display: block;
            position: fixed;
            text-align: center;
            top: 0;
            right: 0px;

           }
    
    
           #close {
            float: right;
            padding: 20px;
           }
           
    }

   
    

    main {

       

       
        section:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 10% 10% 15% 10%;

            h1 {
                font-size: 4em;
            }


            span {
                color: $primary-pink;
            }

            p, h1 {
                margin: 0 0 30px 0;
            }

            
        }

        #start {
            display: flex;
            background-image: url(assets/bg-pattern-home-6-about-5.svg);
            background-repeat: no-repeat;
            background-position: bottom left ;
            background-color: $primary-pink;
            color: #012F34;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10%;

            button {
                border: 2px solid $secondary-dark-green;
                padding: 15px 20px;

                a {
                    color: #012F34;
                }
            }

            button:hover {
                background-color: $secondary-dark-green;
               
                a {
                    color: white;
                }
            }

            h2 {
                font-size: 3em;
                text-align: center;
            }
        }

        
    }

    footer {
        background-color: $footer-green;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 80px;
        text-align: center;

        ul {
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin: 20px;
        }

        #info {
            flex-direction: column;
        }

        small {
            color: rgba(255, 255, 255, 0.363);
        }
    }
   
}

@media screen and (min-width: 700px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        #burger {
            display: none;
        }

       
        #menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background: none;

            #close {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 50px;
                margin: 0;
            }
    
           
            button {
                padding: 0 10px;
                height: 40px;
            }
            
        }
    }

    main {
        #start {
            display: flex;
            flex-direction: row;
        }

    }

    footer {
        display: grid !important;
        grid-template-rows: repeat(2, 3rem);
        grid-column-gap: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 0px; 

        img { grid-area: 1 / 1 / 2 / 2; }
        nav { grid-area: 2 / 1 / 3 / 2; }
        #info { 
            display: flex;
            flex-direction: column;
            grid-area: 1 / 2 / 3 / 3; 
        }
        #reseaux { 
            display: flex;
            justify-content: center;
            grid-area: 1 / 3 / 2 / 4; 
        }
        #copyright { grid-area: 2 / 3 / 3 / 4; } 



    }

    
}
